<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
<h1>About</h1>
<p>{{screamIt 'Some about page'}}</p>
{{> footer}}
  </body>
</html>
